#searched_map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

#single_map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
nav {
  width: 100vw;
  background-color: gray;
}
ul{
  margin: 0;
  padding: 0;
  display: flex;
}