{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/style.css">
{% endblock %}

{% block body %}

<div>
    <h2>Most Iconic Places to visit as a Whovian</h2>
</div>
<div>
    <p><h4>The Shard</h4></p> 
    <p>From The Bells of St John episode with 11th Doctor, Matt Smith. In this
        famous scene, the Doctor and Clara ride an anti-graviety motorbike up its side.
    </p>
    <p><a href:"https://tardis.fandom.com/wiki/The_Shard?file=The_Doctor_rides_the_Shard_-_Doctor_Who_-_The_Bells_of_St_John_-_Series_7_-_BBC">Link to Video</a></p>
    <p><a href:"https://www.the-shard.com/viewing-gallery/">Visiting the Shard</a></p>
</div>
<div>
    <p><h4>Brandon Estate</h4></p>
    <p>From multiple episodes, this site was used to depict the estate that Rose, Jackie, and Mickey
        lived in. The Tardis landed here multiple times.
    </p>
</div>
<div>
    <p><h4>London Eye</h4></p>
    <p>From the first episode with Chritopher Eccleston, "Rose", the Doctor uses the London Eye to transmit 
        Nestene Consciousness.</p>
        <p><a href:"https://www.youtube.com/watch?v=bcZeJOE_T_o">Link to Video</a></p>
        <p><a href:"https://www.londoneye.com">Visiting the London Eye</a></p>
</div>
<div>
    <p><h4>Shakespeare's Globe</h4></p>
    <p>From the episode in season three, "The Shakespeare Code", where the doctor inspires Shakespeare
        while also saving him from alien witches.</p>
        <p><a href:"https://www.youtube.com/watch?v=3UcTdsgrhTs">Link to Video</a></p>
        <p><a href:"https://www.shakespearesglobe.com/visit/">Visiting the Globe</a></p>
</div>
<div>
    <p><h4>Buckingham Palace</h4></p>
    <p>From the Christmas special, "Voyage of the Damned". The Doctor prevents a Titanic shaped spaceship
        from colliding with Buckingham Palace.</p>
    <p><a href:"https://www.youtube.com/watch?v=E33vAhs4bNs">Link to Video</a></p>
    <p><a href:"https://www.rct.uk/visit/the-state-rooms-buckingham-palace">Visiting Buckingham Palace</a> </p>    
</div>


{% endblock %}