{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/style.css">
{% endblock %}

{% block body %}

<div>
    <h2>Most Iconic Places to visit as a Whovian</h2>
</div>
<div>
    <p><h4>The Shard</h4></p> 
    <p>From The Bells of St John episode with 11th Doctor, Matt Smith. In this
        famous scene, the Doctor and Clara ride an anti-graviety motorbike up its side.
    </p>
    <p><a href="https://tardis.fandom.com/wiki/The_Shard?file=The_Doctor_rides_the_Shard_-_Doctor_Who_-_The_Bells_of_St_John_-_Series_7_-_BBC">Link to Video</a></p>
    <p><a href="https://www.the-shard.com/viewing-gallery/">Visiting the Shard</a></p>
</div>
<div>
    <p><h4>London Eye</h4></p>
    <p>From the first episode with Chritopher Eccleston, "Rose", the Doctor uses the London Eye to transmit 
        Nestene Consciousness.</p>
        <p><a href="https://www.youtube.com/watch?v=bcZeJOE_T_o">Link to Video</a></p>
        <p><a href="https://www.londoneye.com">Visiting the London Eye</a></p>
</div>
<div>
    <p><h4>Shakespeare's Globe</h4></p>
    <p>From the episode in season three, "The Shakespeare Code", where the doctor inspires Shakespeare
        while also saving him from alien witches.</p>
        <p><a href="https://www.youtube.com/watch?v=3UcTdsgrhTs">Link to Video</a></p>
        <p><a href="https://www.shakespearesglobe.com/visit/">Visiting the Globe</a></p>
</div>
<div>
    <p><h4>Buckingham Palace</h4></p>
    <p>From the Christmas special, "Voyage of the Damned". The Doctor prevents a Titanic shaped spaceship
        from colliding with Buckingham Palace.</p>
    <p><a href="https://www.youtube.com/watch?v=E33vAhs4bNs">Link to Video</a></p>
    <p><a href="https://www.rct.uk/visit/the-state-rooms-buckingham-palace">Visiting Buckingham Palace</a> </p>    
</div>
<div>
    <p><h4>Trafalgar Square</h4></p>
    <p>From the "Day of the Doctor".</p>
    <p><a href="https://www.youtube.com/watch?v=7TzUGxH5DPQ">Link to Video</a></p>
</div>
<div>
    <p><h4>Ragley Hall</h4></p>
    <p>If "The Girl in the Fireplace" is your favorite episode, then this is a must stop. The ballroom featured
        in the episode is from the interior of this beautiful home.
    </p>
    <p><a href="https://www.youtube.com/watch?v=MSecHsvREd0">Link to Video</a></p>
    <p><a href="https://www.ragley.co.uk">Visit Ragley Hall</a></p>
</div>
<div>
    <p><h4>Battersea Power Station</h4></p>
    <p>Featured in many classic Who episodes, including with the First Doctor, but also used in the 
        "Rise of the Cybermen" episode.
    </p>
    <p><a href="https://www.youtube.com/watch?v=MRtvp60wxVs">Link to Video</a></p>
</div>
<div>
    <p><h4>Earl's Court Tardis</h4></p>
    <p>You can't go in to find out if it's bigger on the inside, but you can take your picture with 
        a Tardis at Earl's Court Station.</p>
    <p><a href="https://www.ianvisits.co.uk/blog/2019/10/23/the-story-behind-the-earls-court-tardis/">Visiting Earl's Court</a></p>    
</div>
<div>
    <p><h4>The Who Shop</h4></p>
    <p>If you're in London and a Whovian, this is a must stop. They have a screen-used Tardis,
        120 different props and costumes, and every single piece of merch you can think of.
    </p>
    <p><a href="https://www.thewhoshop.com">Visit the Who Shop</a></p>
</div>
<div>
    <p><h4>Brit Movie Tours</h4></p>
    <p>If you want a guided tour, Brit Movie Tours offers many options, particularly in Cardiff, where the majority
        of the modern series is filmed. 
    </p>
    <p><a href="https://britmovietours.com/bookings/doctor-who-tours/">Link to Tours</a></p>
</div>
<div>
    <p><h4>Ragley Hall</h4></p>
    <p>If "The Girl in the Fireplace" is your favorite episode, then this is a must stop. The ballroom featured
        in the episode is from the interior of this beautiful home.
    </p>
    <p><a href="https://www.youtube.com/watch?v=MSecHsvREd0">Link to Video</a></p>
    <p><a href="https://www.ragley.co.uk">Visit Ragley Hall</a></p>
</div>
{% endblock %}