<!doctype html>
<html>
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="/static/style.css">
  <script
    src="http://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    
    {% block head %}{% endblock %}
  </head>
  <body>
    <title>
      {% block title %}{% endblock %}
    </title>
    
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="#" id="dr-who-logo" class="brand-logo right">Doctor Who What Where</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/about">About</a>
            <a class="nav-item nav-link active" href="/">Search</a>
            <a class="nav-item nav-link active" href="/episode_list">Episode List</a>
            <a class="nav-item nav-link active" href="/additional_info">Additional Sites</a>
          </div>
      </div>
    </nav>
    {% endblock %}
    {% block body %}
    {% endblock %}
  
    
  </body>
</html>
