{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block body %}
<h2>Episode List</h2> 



      {% if episode.season == "1" %}
    <div class=list_of_episodes>
      <h3>Season One</h3>
      {% for episode in episodes %}
      <div>"{{ episode.title }}" 
      Doctor: {{ episode.doctor }} 
      <a href="{{ episode.imdb }}">IMDB Link</a>
      <a href={{ url_for('create_map_from_season_search', season=episode.season, episode=episode.episode_number )}}>Link to Map</a></div>
    </div>
      {% endfor %}
      {% elif episode.season == "2" %}
      <div class=list_of_episodes>
        <h3>Season Two</h3>
        {% for episode in episodes %}
        <div>"{{ episode.title }}" 
        Doctor: {{ episode.doctor }} 
        <a href="{{ episode.imdb }}">IMDB Link</a>
        <a href={{ url_for('create_map_from_season_search', season=episode.season, episode=episode.episode_number )}}>Link to Map</a></div>
      </div>
      {% endfor %}
    
    {% endif %}
   



{% endblock %}
