{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block body %}
  <h1>Welcome!</h1>


  <nav class="navbar navbar-expand-lg navbar-dark">
    <a id="dr-who-logo" class="navbar-brand" href="#">Doctor Who What Where</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Search</a>
        </li>
      </ul>
      
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Episode List</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
      </ul>
    </div>
  </nav>

  <!-- Title -->
  <!-- Description for search -->

 <div>
   <h3>SEARCH BY SEASON</h3>
  <form id = "search-season-episode">
   <select name="season" id="season">
    <option value="SHOW ALL" selected disabled hidden>
      ALL SEASONS
    </option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="Special">Specials</option>
  </select>
  <h3>AND EPISODE NUMBER</h3>
  <select name="episode" id="episode">
    <option value="SHOW ALL" selected disabled hidden>
    </option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
  </select>
  <input type="submit" name="submit" value="Submit"/>
</form>
</div>
  <h3>SEARCH BY DOCTOR</h3>
  <form id="search-doctor">
  <select name="doctor" id="doctor">
    <option value="NONE" selected disabled hidden></option>
    <option value="1">Christopher Eccleston</option>
    <option value="2">David Tennant</option>
    <option value="3">Matt Smith</option>
    <option value="4">Peter Capaldi</option>
    <option value="5">Jodie Whittaker</option>
  </select>
  <input type="submit" name="submit" value="Submit"/>
</form>
  <h3>SEARCH BY EPISODE TITLE</h3>
  <form action="/map_search"> 
    <label for="episode-title"></label>
    <input type="text" id="episode-title">
    <br>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
