{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <h2>Navigation</h2>
 

  <!-- Title -->
  <!-- Description for search -->

 <div>
   <h3>SEARCH BY SEASON</h3>
  <select id="season">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">Specials</option>
  </select>
</div>
<div>
  <h3>SEARCH BY EPISODE NUMBER</h3>
  <select id="episode">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
  </select>
</div>
  <h3>SEARCH BY DOCTOR</h3>
  <select id="doctor">
    <option value="1">Eccleston</option>
    <option value="2">Tennant</option>
    <option value="3">Smith</option>
    <option value="4">Capaldi</option>
    <option value="5">Whittaker</option>
  </select>
{% endblock %}
