{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/style.css">

{% endblock %}

{% block body %}

  <!-- Title -->
  <!-- Description for search -->

 <div>
   <h3>SEARCH BY SEASON</h3>
  <form id = "search-season-episode" method="GET" action="/map_search">
   <select name="season" id="season">
    <option value="SHOW ALL" selected disabled hidden>
      ALL SEASONS
    </option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="Special">Specials</option>
  </select>
  <h3>AND EPISODE NUMBER</h3>
  <select name="episode" id="episode-number">
    <option value="SHOW ALL" selected disabled hidden>
    </option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
  </select>
  <input type="submit" name="submit" value="Submit"/>
</form>
</div>
  <h3>SEARCH BY DOCTOR</h3>
  <form id="search-doctor" method="GET" action="/map_search">
  <select name="doctor" id="search-doctor">
    <option value="NONE" selected disabled hidden></option>
    <option value="1">Christopher Eccleston</option>
    <option value="2">David Tennant</option>
    <option value="3">Matt Smith</option>
    <option value="4">Peter Capaldi</option>
    <option value="5">Jodie Whittaker</option>
  </select>
  <input type="submit" name="submit" value="Submit"/>
</form>
  <h3>SEARCH BY EPISODE TITLE</h3>
  <form id="episode-title" action="/map_search" method="GET"> 
    <label for="episode-title"></label>
    <input type="text" id="episode-title">
    <br>
    <input type="submit" value="Submit">
  </form>


  <script src="/static/homepage.js"></script>
{% endblock %}
