{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/style.css">
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCo5kxoEKpCxw7EGjSP6C_mOkd_Wc3hopo&callback=initMap&libraries=&v=weekly">
</script>

<script>
  const locations = {{ locations|tojson|safe }};
</script>
<script type = "text/javascript" src="static/map_search.js"></script>
{% endblock %}
{% block body %}

 
      <div class="searched_map" id="searched_map"></div>


{% endblock %} 
