{% extends 'base.html' %}
{% block title %}{% endblock %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="/static/single_map.js"></script>
<script
  async defer
  src="https://maps.googleapis.com/maps/api/js?key=[APIKEY]&callback=initMap"
  type="text/javascript"
></script>
<link rel="stylesheet" type="text/css" href="/static/style.css" />

{% block body %}
{% block navbar %} {% endblock %}
  <!-- <h1>Have a heading with flexible info given search parameters</h1> -->

  <!-- Map here with single pin -->
  <div id="single-map"></div>
  <!-- Info box with address and episode info -->
 

{% endblock %}
