{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/style.css" />
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdOteDx0CPC600vLObT5G1aFgiXjhWxPA&callback=initMap&libraries=&v=weekly">
</script>

<script>
  const single_location = {{ location_by_id|tojson|safe }};
</script>

<script>
let map;

function initMap() {
  const tardis = "/static/img/tardis-thumbnail.png"; 
  const location_ep_id = single_location.ep_id;
  const address = single_location.address;
  const latLng = {'lat': Number(single_location.latitude), 'lng': Number(single_location.longitude)};
 
  
    const map = new google.maps.Map(document.getElementById("map_canvas"), {
      center: latLng,
      zoom: 12,
    });

    const locationMarker = new google.maps.Marker({
        position: latLng,
        map: map,
        location_ep_id: location_ep_id,
        icon: tardis,
    });

}
</script>
{% endblock %}
{% block body %}

<div class="continer">
  <div class="text-center">
    <h3>Episode Title: "{{ location_by_id.title }}"</h3>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

<div class="col-md-6" id="right">

  <p>Season: {{ location_by_id.season }}</p>
  <p>Episode: {{ location_by_id.episode_number }}</p>
  <p>Doctor: {{ location_by_id.doctor }}</p>
  <p>Companion: {{ location_by_id.companion }}</p> 
  <p>Guest Star: {{ location_by_id.guest_star }}</p>
  <p><a href="{{ location_by_id.imdb }}">IMDB Link</a></p>  
  <p>Address: {{ location_by_id.address }}</p>     
</div>

<div class="col-md-6" id="map_canvas"></div>
</div>
</div>
 
{% endblock %}
